Editorial Comment from offline discussion with Mahesh

Section 1

OLD

```
A transport network is <...>

This document defines a data model of an OTN topology, using YANG [RFC7950]. <...>

<...>


Section 6 of [RFC8795] provides guidelines for writing technology-specific TE topology augmentations.

The YANG data model in this document uses YANG version 1.1 [RFC7950].

The YANG data model in this document conforms to the Network Management Datastore Architecture defined in [RFC8342].

```
NEW

```
A transport network is <...>

This document defines a data model of an OTN topology, using YANG version 1.1 [RFC7950]. <...>

<...>


Section 6 of [RFC8795] provides guidelines for writing technology-specific TE topology augmentations.

The YANG data model in this document conforms to the Network Management Datastore Architecture defined in [RFC8342].

```
