Updating draft-ietf-ccamp-otn-topo-yang to align with YANG guidance in RFC 9907

Greetings Haomian, Italo, Xufeng, Sergio, and Oscar,


Thank you for the updates you have already made to align with RFC 9907 <https://www.rfc-editor.org/info/rfc9907/>, “Guidelines for Authors and Reviewers of Documents Containing YANG Data Models”.  Please review our questions below and let us know how to update the document.  

Note that this set of questions is only about potential changes because of the updated YANG guidance; other questions may be sent after the document has been fully edited.  This is NOT the Final Review period for this document.  


a) Should these instances be updated to “YANG data model” (instead of YANG model)?

- "The YANG model defined in this document is independent of control plane protocols..."

- "augments from the TE topology YANG model defined in RFC8795"

- "Following TE topology YANG model, the YANG model defined in this document is interface independent."

- "typical usage of IETF YANG models in ACTN architecture"


b) We believe the text should reference RFC 6020 instead of RFC 7950. May we update the reference and the text to match what appears in RFC 9907? 

Original: 
   This document registers a YANG module in the YANG Module Names
   registry [RFC7950].

Per RFC 9907, we would expect: 
   This document registers a YANG module in the “YANG
   Module Names" registry [RFC6020] within the "YANG Parameters”
   registry group.


c) Note that we will add this text to the ietf-otn-topology module, after the copyright notice.  Please let us know if you have any concerns.  

All revisions of IETF and IANA published modules can be found at the YANG Parameters registry group (https://www.iana.org/assignments/yang-parameters).


d) In the Security Considerations, should the following text be updated to refer to ietf-otn-topology?  

Original:
   The "ietf-te-types" and the "ietf-te-packet-types" YANG modules
   define data models that are designed to be accessed via YANG-based
   management protocols, such as NETCONF [RFC6241] and RESTCONF
   [RFC8040]. 

Perhaps:
   The "ietf-otn-topology" YANG module
   defines a data model that are designed to be accessed via YANG-based
   management protocols, such as Network Configuration Protocol (NETCONF) [RFC6241] and RESTCONF [RFC8040].


e) Please confirm that this paragraph is to remain in the Security Considerations section:

   Finally, the YANG module described in this document augments the
   "ietf-network" YANG module [RFC8345] and the "ietf-te-topology" YANG
   module [RFC8795] by adding data nodes.  The security considerations
   for the subtrees described in those RFCs apply equally to the new
   data nodes that this module adds.


f) Please note that there are some other minor differences that we will tweak to align more closely with the Security Considerations template defined at https://wiki.ietf.org/group/ops/yang-security-guidelines and ask you to review during Final Review. 

Thank you,
Sandy Ginoza
RFC Production Center 


Title                  : A YANG Data Model for Optical Transport Network Topology
Author(s)              : H. Zheng,
                         I. Busi,
                         X. Liu,
                         S. Belotti,
                         O. Gonzalez de Dios
Working Group Chair(s) : Fatai Zhang, Luis Contreras, Daniele Ceccarelli
Area Director(s)       : Jim Guichard, Ketan Talaulikar, Gunter Van de Velde

> 

> 