OTN Topology: Editorial comments

I have reviewed [draft-ietf-ccamp-otn-topo-yang-13](https://datatracker.ietf.org/doc/html/draft-ietf-ccamp-otn-topo-yang) and found few editorial comments:

- [x] Abstract and Section 1

    ADD
    
    >    The YANG data model in this document conforms to the Network
    >    Management Datastore Architecture defined in [RFC8342].

    **Resolution**: Ok for section 1. No need to add in the Abstract as per RFC8407. Remove the duplicated sentence in section 3.1

- [x] Section 2

    REPLACE
    
    > 1.1 Terminology and Notations
    > 
    >    Some of the key terms used in this document are listed as follow:
    > 
    >    *  TS: Tributary Slot.
    > 
    >    *  TSG: Tributary Slot Granularity.
    > 
    >    *  TPN: Tributary Port Number.
    > 
    >    Refer to [RFC7062] for the key terms used in this document.
    > 
    >    The following terms are defined in [RFC7950] and are not redefined
    >    here:
    > 
    >    *  client
    > 
    >    *  server
    > 
    >    *  augment
    > 
    >    *  data model
    > 
    >    *  data node
    > 
    >    The following terms are defined in [RFC6241] and are not redefined
    >    here:
    > 
    >    *  configuration data
    > 
    >    *  state data
    > 
    >    The terminology for describing YANG data models is found in
    >    [RFC7950].
    > 
    > 1.2.  Tree Diagram
    > 
    >    A simplified graphical representation of the data model is used in
    >    Section 3 of this document.  The meaning of the symbols in these
    >    diagrams is defined in [RFC8340].
    > 
    > 1.3.  Prefix in Data Node Names
    > 
    >    In this document, names of data nodes and other data model objects
    >    are prefixed using the standard prefix associated with the
    >    corresponding YANG imported modules, as shown in the following table.
    > 
    >              +==========+=======================+===========+
    >              | Prefix   | YANG module           | Reference |
    >              +==========+=======================+===========+
    >              | l1-types | ietf-layer1-types     | [RFCYYYY] |
    >              +----------+-----------------------+-----------+
    >              | wsont    | ietf-wson-topology    |  RFCXXXX  |
    >              +----------+-----------------------+-----------+
    >              | nw       | ietf-network          | [RFC8345] |
    >              +----------+-----------------------+-----------+
    >              | nt       | ietf-network-topology | [RFC8345] |
    >              +----------+-----------------------+-----------+
    >              | tet      | ietf-te-topology      | [RFC8795] |
    >              +----------+-----------------------+-----------+
    > 
    >              Table 1: Prefixes and Corresponding YANG Modules
    > 
    >    RFC Editor Note: Please replace XXXX with the number assigned to
    >    the RFC once this draft becomes an RFC. Please replace YYYY with the
    >    RFC numbers assigned to [I-D.ietf-ccamp-layer1-types].

    **Resolution**: Ok

- [x] Section 3

    Renumber section 3 as section 2 and section 3.5 as section 3

    **Resolution**: Ok

- [x] Section 5

    ADD
    
    >    RFC Editor Note: Please replace XXXX with the number assigned to
    >    the RFC once this draft becomes an RFC.

    **Resolution**: Ok


Fixed in [draft-ietf-ccamp-otn-topo-yang-16](https://datatracker.ietf.org/doc/html/draft-ietf-ccamp-otn-topo-yang-16)