OTN Tunnel: Editorial comments

I have reviewed [draft-ietf-ccamp-otn-tunnel-model-14](https://datatracker.ietf.org/doc/html/draft-ietf-ccamp-otn-tunnel-model) and found few editorial comments:

- [x] Abstract

   **Resolution**: Remove text about NMDA: see resolution in #93 

- [x] Section 2

    REPLACE
    
    > 1.1 Terminology and Notations
    > 
    >    Refer to [I-D.ietf-ccamp-otn-topo-yang] for the OTN specific terms terms used in this document.
    > 
    >    The following terms are defined in [RFC7950] and are not redefined
    >    here:
    > 
    >    *  client
    > 
    >    *  server
    > 
    >    *  augment
    > 
    >    *  data model
    > 
    >    *  data node
    > 
    >    The following terms are defined in [RFC6241] and are not redefined
    >    here:
    > 
    >    *  configuration data
    > 
    >    *  state data
    > 
    >    The terminology for describing YANG data models is found in
    >    [RFC7950].
    > 
    > 1.2.  Tree Diagram
    > 
    >    A simplified graphical representation of the data model is used in
    >    Section 3 of this document.  The meaning of the symbols in these
    >    diagrams is defined in [RFC8340].
    > 
    > 1.3.  Prefix in Data Node Names
    > 
    >    In this document, names of data nodes and other data model objects
    >    are prefixed using the standard prefix associated with the
    >    corresponding YANG imported modules, as shown in the following table.
    > 
    >              +==========+=======================+===========+
    >              | Prefix   | YANG module           | Reference |
    >              +==========+=======================+===========+
    >              | l1-types | ietf-layer1-types     | [RFCYYYY] |
    >              +----------+-----------------------+-----------+
    >              | otn-tnl  | ietf-wson-topology    |  RFCXXXX  |
    >              +----------+-----------------------+-----------+
    >              | te       | ietf-te               | [RFCZZZZ] |
    >              +----------+-----------------------+-----------+
    > 
    >              Table 1: Prefixes and Corresponding YANG Modules
    > 
    >    RFC Editor Note: Please replace XXXX with the number assigned to
    >    the RFC once this draft becomes an RFC. Please replace YYYY with the
    >    RFC numbers assigned to [I-D.ietf-ccamp-layer1-types]. Please replace ZZZZ with the
    >    RFC numbers assigned to [I-D.ietf-teas-yang-te]. 

- [x] Section 7

OLD

>       prefix:       otn-tunnel
>       reference:    RFC XXXX


NEW

>       prefix:       otn-tnl
>       reference:    RFC XXXX
> 
>    RFC Editor Note: Please replace XXXX with the number assigned to
>    the RFC once this draft becomes an RFC.


Fixed in [draft-ietf-ccamp-otn-tunnel-model-16](https://datatracker.ietf.org/doc/html/draft-ietf-ccamp-otn-tunnel-model-16)