Updating draft-ietf-ccamp-layer1-types to align with YANG guidance in RFC 9907

> Greetings Haomian and Italo,
> 
> RFC 9907 <https://www.rfc-editor.org/info/rfc9907/>, “Guidelines for Authors and Reviewers of Documents Containing YANG Data Models”, was published in March 2026.  Per the updated guidance, we believe several updates are needed.  Please review our questions below and let us know how to update the document. 
> 
> Note that this set of questions is only about potential changes because of the updated YANG guidance; other questions may be sent later after the document has been fully edited.  This is NOT the Final Review period for this document.  
> 
> a) This document contains a yang tree. Should RFC 8340 be normatively referenced? If yes, please indicate how/where RFC 8340 should be cited within the text. 
> 
> 
> b) We believe the text should reference RFC 6020 instead of RFC 7950. May we update the reference? 
> 
> Original: 
> This document registers following YANG modules in the YANG Module
> Names registry [RFC7950].

Per RFC 9907, may we update the text as follows? 

   This document registers a YANG module in the “YANG
   Module Names" registry [RFC6020] within the "YANG Parameters”
   registry group.

> 
> 
> c) Note that we intend to add the following paragraph to the ietf-layer1-types YANG module per RFC 9907. It will appear after the copyright within the module. Please let us know if you have any concerns. 
> 
> All revisions of IETF and IANA published modules can be found at the YANG Parameters registry group (https://www.iana.org/assignments/yang-parameters).
> 
> 
> d) The Security Considerations require a major update.  Please compare the security considerations against the template at https://wiki.ietf.org/group/ops/yang-security-guidelines and provide us with the updated text.  We attempted an update, but the changes are not straightforward (see https://auth48-transition.rfc-editor.org/authors/draft-ietf-ccamp-layer1-types-19-9907security-diff.html).  While reviewing, please consider whether 
> 
> - the second and last paragraphs remain in the text, 
> - the “There are no particularly sensitive…” statements are needed, and
> - any other changes are needed.
> 
> As part of the updates, we believe we’ll need to adjust the references as follows: 
> 
> - Add informative references to RFC 4252 (SSH Authentication Protocol) and RFC 9000 (QUIC) 
> - Remove the reference to RFC 6242, as it is no longer cited.
> 
> 
> Thank you for attention.  We are hopeful that updating these items now will smooth the editorial and Final Review process. 
> 
> 
> Thank you,
> Sandy Ginoza
> RFC Production Center
> 
> 
> 
> 
> Title                  : Common YANG Data Types for Layer 1 Networks
> Author(s)              : H. Zheng,
>                         I. Busi
> Working Group Chair(s) : Fatai Zhang, Luis Contreras, Daniele Ceccarelli
> Area Director(s)       : Jim Guichard, Ketan Talaulikar, Gunter Van de Velde
> 
