Relationship between L1CSM and L1VPN

> Can you confirm that there isn't a need for an OIF flavour of 'uni-access-type'

> You talked a lot in the preamble about L1VPN, but when it comes down to it, the YANG model only models a P2P connection. This _is_ consistent with the name of the model, but is confusing in the context of the L1VPN. Unless I missed the fact that there may be a higher layer service model that the customer uses to request an L1VPN (L1SM) and the model in this document is how the service orchestrator composes the L1VPN out of P2P connections?

_Originally posted by @italobusi in https://github.com/haomianzheng/IETF-ACTN-YANG-Model/issues/117#issuecomment-1305691839_
      

My understanding is that the definition of a L1VPN service has a broader scope than the definition of a L1CSM service, so we need to be more careful in using the terms L1VPN and L1CSM service within the draft.

Proposed text changes:

---

Section 1

OLD
```
   This document provides a YANG data model for L1VPN Connectivity
   Service Model (L1CSM) which can be classified as Network Service YANG

```
NEW
```
   This document provides a YANG data model for Layer 1 (L1) Connectivity
   Service Model (L1CSM) which can be classified as Network Service YANG

```

---

Section 1

OLD
```
   The primary focus of this document is to describe L1CSM YANG model
   required for the instantiation of point-to-point L1VPN service.  A
   L1VPN is a service offered by a core layer 1 network to provide layer
   1 connectivity between two or more customer sites where the customer
   has some control over the establishment and type of the connectivity.

```
NEW
```
   The primary focus of this document is to describe L1CSM YANG model
   required for the instantiation of point-to-point L1 connectivity services, to provide layer
   1 connectivity between two or more customer sites where the customer
   has some control over the establishment and type of the connectivity.
```

I am not sure we need to say anything more here. At the first glance, it appears to me that the services supported by L1CSM are the basic L1 services defined in section 4.1 of RFC4847, and that the service model is similar to the Management-Based Service Model, described in section 7.1 of RFC4847 using controllers instead for management systems. 

Do you think it would be useful to provide this mapping or the less the better?

---

Section 1.1

OLD
```
   Figure 1 depicts a deployment scenario of the L1VPN SDN control-based
```
NEW
```
   Figure 1 depicts a deployment scenario of the L1CSM SDN control-based
```

---

Section 1.1 (Figure 1)

OLD
```
        Figure 1: L1VPN SDN Controller/EMS/NMS-Based Service Model:
                             External Customer
```
NEW
```
        Figure 1: L1CSM SDN Controller/EMS/NMS-Based Service Model:
                             External Customer
```

---

Section 1.1

OLD
```
   layer 1 transport network department.  With this scenario, a multi-
   service backbone is characterized such that each service department
   of a provider (e.g., L2/3 services) that receives the same provider's
   L1VPN service provides a different kind of higher-layer service.  The
   customer receiving the L1VPN service (i.e., each service department)
```
NEW
```
   layer 1 transport network department.  With this scenario, a multi-
   service backbone is characterized such that each service department
   of a provider (e.g., L2/3 services) that receives the same provider's
   L1CSM service provides a different kind of higher-layer service.  The
   customer receiving the L1CSM service (i.e., each service department)
```

---

Section 1.1 (Figure 2)

OLD
```
                           |    +----------+    |
                           |    | Network  |    |
                           |    |   SDN    |    |
                           |    |Controller|    |
                           |    |/EMS/NMS  |    |
                           |    | for L1VPN|    |
                           |    +----------+    |
```
NEW
```
                           |    +----------+    |
                           |    | Network  |    |
                           |    |   SDN    |    |
                           |    |Controller|    |
                           |    |/EMS/NMS  |    |
                           |    | for L1VPN|    |
                           |    +----------+    |
```

---

Section 1.1 (Figure 2)

OLD
```
        Figure 2: L1VPN SDN Controller/EMS/NMS-Based Service Model:
                             Internal Customer
```
NEW
```
        Figure 2: L1CSM SDN Controller/EMS/NMS-Based Service Model:
                             Internal Customer
```


                           |    +----------+    |
                           |    | Network  |    |
                           |    |   SDN    |    |
                           |    |Controller|    |
                           |    |/EMS/NMS  |    |
                           |    | for L1VPN|    |
                           |    +----------+    |

I did not see the differences between this pair.  Is the proposal to change L1VPN to L1CSM? 

> 
   The primary focus of this document is to describe L1CSM YANG model
   required for the instantiation of point-to-point L1 connectivity services, to provide layer
   1 connectivity between two or more customer sites where the customer
   has some control over the establishment and type of the connectivity.

I am okay with what is said here. But I also would like to say some relationship with 'L1VPN' in RFC4847 since we reference that. How about the following? 

   The primary focus of this document is to describe L1CSM YANG model
   required for the instantiation of point-to-point L1 connectivity services, to provide layer
   1 connectivity between two or more customer sites where the customer
   has some control over the establishment and type of the connectivity. The point-to-point case in [RFC 4847] can be described by the modules specified in this document as well. 



Proposed text changes:

---

Section 1

OLD
```
   This document provides a YANG data model for L1VPN Connectivity
   Service Model (L1CSM) which can be classified as Network Service YANG

```
NEW
```
   This document provides a YANG data model for Layer 1 (L1) Connectivity
   Service Model (L1CSM) which can be classified as Network Service YANG

```

---

Section 1

OLD
```
   The primary focus of this document is to describe L1CSM YANG model
   required for the instantiation of point-to-point L1VPN service.  A
   L1VPN is a service offered by a core layer 1 network to provide layer
   1 connectivity between two or more customer sites where the customer
   has some control over the establishment and type of the connectivity.

```
NEW
```
   The primary focus of this document is to describe L1CSM YANG model
   required for the instantiation of point-to-point L1 connectivity services, to provide layer
   1 connectivity between two or more customer sites where the customer
   has some control over the establishment and type of the connectivity.
   The L1CSM YANNG model specified in this document supports the point-to-point connectivity services defined in [RFC 4847].
```

---

Section 1.1

OLD
```
   Figure 1 depicts a deployment scenario of the L1VPN SDN control-based
```
NEW
```
   Figure 1 depicts a deployment scenario of the L1CSM SDN control-based
```

---

Section 1.1 (Figure 1)

OLD
```
        Figure 1: L1VPN SDN Controller/EMS/NMS-Based Service Model:
                             External Customer
```
NEW
```
        Figure 1: L1CSM SDN Controller/EMS/NMS-Based Service Model:
                             External Customer
```

---

Section 1.1

OLD
```
   layer 1 transport network department.  With this scenario, a multi-
   service backbone is characterized such that each service department
   of a provider (e.g., L2/3 services) that receives the same provider's
   L1VPN service provides a different kind of higher-layer service.  The
   customer receiving the L1VPN service (i.e., each service department)
```
NEW
```
   layer 1 transport network department.  With this scenario, a multi-
   service backbone is characterized such that each service department
   of a provider (e.g., L2/3 services) that receives the same provider's
   L1CSM service provides a different kind of higher-layer service.  The
   customer receiving the L1CSM service (i.e., each service department)
```

---

Section 1.1 (Figure 2)

OLD
```
                           |    +----------+    |
                           |    | Network  |    |
                           |    |   SDN    |    |
                           |    |Controller|    |
                           |    |/EMS/NMS  |    |
                           |    | for L1VPN|    |
                           |    +----------+    |
```
NEW
```
                           |    +----------+    |
                           |    | Network  |    |
                           |    |   SDN    |    |
                           |    |Controller|    |
                           |    |/EMS/NMS  |    |
                           |    | for CSM|    |
                           |    +----------+    |
```

---

Section 1.1 (Figure 2)

OLD
```
        Figure 2: L1VPN SDN Controller/EMS/NMS-Based Service Model:
                             Internal Customer
```
NEW
```
        Figure 2: L1CSM SDN Controller/EMS/NMS-Based Service Model:
                             Internal Customer
```


Fixed in https://datatracker.ietf.org/doc/html/[draft-ietf-ccamp-l1csm-yang-19](https://datatracker.ietf.org/doc/html/draft-ietf-ccamp-l1csm-yang-19)