Paul Wouters' No Objection on draft-ietf-ccamp-otn-topo-yang-18

> ----------------------------------------------------------------------
> COMMENT:
> ----------------------------------------------------------------------
> 
> some nits:
> 
>      Registrant Contact: The IESG
> 
> Should that not be The IETF ?
> 

Authors: The text is written following the guidelines in section 5 of RFC8407 which seems to be a common practice in other RFCs

> The Contributors section has affiliation and email addresses. We normally do
> not add affiliations to Acknowledgements. Is there a specific reason for these?
> 

Authors: We have reformatted Acknowledgements and Contributors sections to follow the guidelines in RFC7322

- [x] #178

See: https://mailarchive.ietf.org/arch/msg/ccamp/4pdb5J_SwxBJJIkUtBk6QH41k2Q/

---

- [x] @italobusi : reply to the comments after draft-ietf-ccamp-otn-topo-yang-19 is uploaded

See: https://mailarchive.ietf.org/arch/msg/ccamp/q9svQt04uBel-eGAFnjtx6qQimM/